h1 {
  margin: 0 0 8px;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  margin: 0 0 4px;
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  margin: 0 0 4px;
  font-size: 1rem;
  font-weight: 600;
}

p {
  margin: 4px 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.375;
}

.discord-message-content {
  width: auto !important;
}

discord-spoiler {
  color: inherit !important;
  background-color: inherit !important;
  position: relative;
}

discord-spoiler::after {
  content: '';
  transition: all 200ms ease-in-out !important;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: #777 !important;
  border-radius: 4px;
}

discord-spoiler.discord-spoiler--revealed::after {
  z-index: 0;
  background-color: #7772 !important;
}

span.subtext {
  font-size: 0.75rem !important;
}

.discord-code-block-pre--multiline {
  border: 1px solid #CCC2 !important;
}

.discord-code-block-pre {
  background-color: #6662 !important;
}

.discord-v2container {
  overflow: hidden;
  border: 1px solid #3f4147;
  border-radius: 10px;
  padding: 16px;
  /* background-color: #1113; */
  background-color: #2f3136;
  position: relative;
}

.discord-v2container::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 0px;
  top: 0;
  left: 0;
  border-left-width: 4px;
  border-left-color: inherit;
  border-left-style: solid;
}

.discord-message .discord-message-body code {
  background: none !important;
}